@CHARSET "ISO-8859-1";

body {
	background-color: #E4E4E4; 
}

div.login_container {
	height: auto;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top : 200px;
	background-color: white;
	box-shadow: 1px 1px 5px 0px #848484;
	border-radius: 4px;
}


